<!doctype html>
<html lang="pl" mode="">
<head>
    {% include './common/head.html.twig' %}
    <link rel="stylesheet" href="{{ asset('styles/login.min.css') }}">
</head>
<body>
<section class="login-form">
    <section name="header-container" class="header-container my-2">
        <h1 class="h1">Zarejestruj się</h1>
    </section>

    {% set errors = app.flashes('error') %}

    {% if errors %}
        {% set error = true %}
    {% else %}
        {% set error = false %}
    {% endif %}

    {% for message in errors %}
        <div class="alert-danger">
            <span class="h2">{{ message }} <i class="bi bi-exclamation-triangle"></i></span>
        </div>
    {% endfor %}
    <form method="post" action="{{ path('app_register') }}" name="login-form" class="form-container">
        <label for="name" class="my-1">Imię:</label>
        <input id="name" name="name"
               class="my-1 form-control {% if error %} invalid {% endif %}" required>

        <label for="surname" class="my-1">Nazwisko:</label>
        <input id="surname" name="surname"
               class="my-1 form-control {% if error %} invalid {% endif %}" required>

        <label for="email" class="my-1">Email:</label>
        <input type="email" id="email" name="email"
               class="my-1 form-control {% if error %} invalid {% endif %}" required>

        <label class="my-1" for="plainPassword">Hasło:</label>
        <input type="password" id="plainPassword" name="plainPassword"
               class="my-1 form-control {% if error %} invalid {% endif %}" required>

        <label class="my-1" for="passwordRepeat">Powtórz hasło:</label>
        <input type="password" id="passwordRepeat" name="passwordRepeat"
               class="my-1 form-control {% if error %} invalid {% endif %}" required>

        <section name="btn-groups" class="btn-groups">
            <button class="btn my-1 white-shadow mr-1" type="submit">
                Zapisz
            </button>
        </section>
    </form>
</section>
</body>
</html>

