@use "./components/reset";
@use "./components/colors";
@use "./components/margins";
@use "./components/buttons";
@use "./components/animations";
@use "./components/header";
@use "./components/navbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;

    background-color: var(--secondary-bacground-color);

    width: 100%;
}

.logo{
  width: 40px;
}
