@use "./components/reset";
@use "./components/colors";
@use "./components/margins";
@use "./components/buttons";
@use "./components/form";
@use "./components/animations";
@use "./components/header";
@use "./components/navbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-bacground-color);

    width: 100%;
}

.logo{
  width: 40px;
}

.white-shadow{
    box-shadow: 0 0 6px white;
}

.alert-danger{
    color: var(--danger-color);
    text-shadow: 0 0 6px var(--danger-color);
}

.alert-info{
    color: var(--primary-color);
    text-shadow: 0 0 6px var(--primary-color);
}

//.primary-color{
//    color:var(--primary-color);
//}
//
//.bolder{
//    font-weight: bolder;
//}
//.box{
//    display: flex;
//    flex-direction: column;
//    padding: .25rem;
//
//    color: white;
//
//    z-index: 2;
//}
//
//.h1{
//    font-size: 26px;
//}
