html{
    --primary-color: #8100ff;
    --secondary-color: #068ded;

    --primary-background-color: rgba(245, 245, 245, 0.99);
    --secondary-bacground-color: white;

    --alt-background-color: black;
    --alt-text-color: white;

    --text-color: black;

    --shadow-color: black;

    --danger-color: crimson;

    &[mode=dark]{
        --primary-background-color: rgb(11 11 11);
        --secondary-bacground-color: black;

        --shadow-color: white;

        --alt-background-color: white;
        --alt-text-color: black;

        --text-color: white;
    }
}
