<header class="hero">
    <img class="hero-img" src="{{ asset('images/hero.jpg') }}" alt="hero grafika na której znajduje się laptop ">
    <div class="hero-text-container">
        <h1 class="hero-text">Fullstack Web Developer Jakub Cegłowski . </h1>
    </div>
</header>
