<nav class="nav">
    <div class="nav-item-first-item mr-auto">
        <img class="logo" src="{{ asset('images/logo.png') }}" alt="ikonka programowania">
    </div>
    {% if userIsLoggedIn == false %}
        <div class="nav-item">
            <a class="btn" href="/login">Zaloguj się</a>
        </div>
    {% else %}
        <div class="nav-item">
            <a href="/profile" class="btn">Konto</a>
        </div>
        <div class="nav-item ml-1 mt-1 mt-lg-0">
            <a class="btn" href="/logout">Wyloguj się</a>
        </div>
    {% endif %}
    <div class="nav-item-min">
        <button type="button" class="i-btn">
            <i class="bi bi-list"></i>
        </button>
    </div>
</nav>
