<!doctype html>
<html lang="pl" mode="">
<head>
    {% include './common/head.html.twig' %}
</head>
<body>
    {% include './common/header.html.twig' %}
    {% include './common/navbar.html.twig' %}
    {% include './common/scripts.html.twig' %}
</body>
</html>
