<!doctype html>
<html lang="pl" mode="violet">
<head>
    {% include './common/head.html.twig' %}
</head>
<body>
{#    {% include './common/header.html.twig' %}#}
    {% include './common/navbar.html.twig' %}
</body>
</html>
